@import "tailwindcss";
.hero {
  background-image: url(./assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
  font-family: 'Montserrat';
}

.logbtn{
  background-color: rgba(167, 247, 167, 0.733);
}
.logbtn:hover{
  background-color: rgba(0, 0, 0, 0.096);
}
.homebtn{
  background-color:rgb(174, 255, 174);
}
.homebtn:hover{
    background-color: white;
}
.homebtns .homebtn:nth-child(2) {
  background-color: rgb(206, 206, 206);
}
.homebtns .homebtn:nth-child(2):hover {
  background-color:rgba(174, 255, 174, 0.61);
}
